![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/68501079-0695df00-023c-11ea-841f-455dac84a089.jpg"
    style="width:400px; float: right; margin: 0 40px 40px 40px;"></img>

# Reading HTML tables

In this lecture we'll learn how to read and parse HTML tables from websites into a list of `DataFrame` objects to work with.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [2]:
#!pip install lxml

In [3]:
import pandas as pd

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

##Â Parsing raw HTML strings

Another useful pandas method is `read_html()`. This method will read HTML tables from a given URL, a file-like object, or a raw string containing HTML, and return a list of `DataFrame` objects.

Let's try to read the following `html_string` into a `DataFrame`.

In [4]:
html_string = """
<table>
    <thead>
      <tr>
        <th>Order date</th>
        <th>Region</th> 
        <th>Item</th>
        <th>Units</th>
        <th>Unit cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1/6/2018</td>
        <td>East</td> 
        <td>Pencil</td>
        <td>95</td>
        <td>1.99</td>
      </tr>
      <tr>
        <td>1/23/2018</td>
        <td>Central</td> 
        <td>Binder</td>
        <td>50</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>2/9/2018</td>
        <td>Central</td> 
        <td>Pencil</td>
        <td>36</td>
        <td>4.99</td>
      </tr>
      <tr>
        <td>3/15/2018</td>
        <td>West</td> 
        <td>Pen</td>
        <td>27</td>
        <td>19.99</td>
      </tr>
    </tbody>
</table>
"""

In [5]:
dfs = pd.read_html(html_string)

The `read_html` just returned one `DataFrame` object:

In [6]:
len(dfs)

1

In [7]:
df = dfs[0]

df

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

Previous `DataFrame` looks quite similar to the raw HTML table, but now we have a `DataFrame` object, so we can apply any pandas operation we want to it.

In [8]:
df.shape

(4, 5)

In [9]:
df.loc[df['Region'] == 'Central']

  Order date   Region    Item  Units  Unit cost
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

In [10]:
df.loc[df['Units'] > 35]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

###Â Defining header

Pandas will automatically find the header to use thanks to the <thead> tag.
    
But in many cases we'll find wrong or incomplete tables that make the `read_html` method parse the tables in a wrong way without the proper headers.

To fix them we can use the `header` parameter.

In [11]:
html_string = """
<table>
  <tr>
    <td>Order date</td>
    <td>Region</td> 
    <td>Item</td>
    <td>Units</td>
    <td>Unit cost</td>
  </tr>
  <tr>
    <td>1/6/2018</td>
    <td>East</td> 
    <td>Pencil</td>
    <td>95</td>
    <td>1.99</td>
  </tr>
  <tr>
    <td>1/23/2018</td>
    <td>Central</td> 
    <td>Binder</td>
    <td>50</td>
    <td>19.99</td>
  </tr>
  <tr>
    <td>2/9/2018</td>
    <td>Central</td> 
    <td>Pencil</td>
    <td>36</td>
    <td>4.99</td>
  </tr>
  <tr>
    <td>3/15/2018</td>
    <td>West</td> 
    <td>Pen</td>
    <td>27</td>
    <td>19.99</td>
  </tr>
</table>
"""

In [16]:
pd.read_html(html_string)[0]

            0        1       2      3          4
0  Order date   Region    Item  Units  Unit cost
1    1/6/2018     East  Pencil     95       1.99
2   1/23/2018  Central  Binder     50      19.99
3    2/9/2018  Central  Pencil     36       4.99
4   3/15/2018     West     Pen     27      19.99

In this case, we'll need to pass the row number to use as header using the `header` parameter.

In [17]:
pd.read_html(html_string, header=0)[0]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

##Â Parsing HTML tables from the web

Now that we know how `read_html` works, go one step beyond and try to parse HTML tables directly from an URL.

To do that we'll call the `read_html` method with an URL as paramter.

### Simple example

In [20]:
html_url = "https://www.basketball-reference.com/leagues/NBA_2019_per_game.html"

In [21]:
nba_tables = pd.read_html(html_url)

In [22]:
len(nba_tables)

1

We'll work with the only one table found:

In [28]:
nba = nba_tables[0]

In [29]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Ãlex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

### Complex example

We can also use the `requests` module to get HTML code from an URL to parse it into `DataFrame` objects.

If we look at the given URL we can see multiple tables about The Simpsons TV show.

We want to keep the table with information about each season.

In [57]:
import requests

html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

In [58]:
r = requests.get(html_url)

wiki_tables = pd.read_html(r.text, header=0)

In [59]:
len(wiki_tables)

41

In [60]:
simpsons = wiki_tables[1]

In [61]:
simpsons.head()

,Season,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
0,Season,Season,No. ofepisodes,Season premiere,Season finale,Time slot (ET),Avg. viewers(in millions),Most watched episode,Most watched episode
1,Season,Season,No. ofepisodes,Season premiere,Season finale,Time slot (ET),Avg. viewers(in millions),Viewers(millions),Episode title
2,1,1989â90,13,"December 17, 1989","May 13, 1990",Sunday 8:30Â pm,27.8,33.5,"""Life on the Fast Lane"""
3,2,1990â91,22,"October 11, 1990","July 11, 1991",Thursday 8:00Â pm,24.4,33.6,"""Bart Gets an 'F'"""
4,3,1991â92,24,"September 19, 1991","August 27, 1992",Thursday 8:00Â pm,21.8,25.5,"""Colonel Homer"""

Quick clean on the table: remove extra header rows and set `Season` as index.

In [62]:
simpsons.drop([0, 1], inplace=True)

In [64]:
simpsons.head()

,Season,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
2,1,1989â90,13,"December 17, 1989","May 13, 1990",Sunday 8:30Â pm,27.8,33.5,"""Life on the Fast Lane"""
3,2,1990â91,22,"October 11, 1990","July 11, 1991",Thursday 8:00Â pm,24.4,33.6,"""Bart Gets an 'F'"""
4,3,1991â92,24,"September 19, 1991","August 27, 1992",Thursday 8:00Â pm,21.8,25.5,"""Colonel Homer"""
5,4,1992â93,22,"September 24, 1992","May 13, 1993",Thursday 8:00Â pm,22.4,28.6,"""Lisa's First Word"""
6,5,1993â94,22,"September 30, 1993","May 19, 1994",Thursday 8:00Â pm,18.9,24.0,"""Treehouse of Horror IV"""

In [65]:
simpsons.set_index('Season', inplace=True)

In [68]:
simpsons.head()

,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989â90,13,"December 17, 1989","May 13, 1990",Sunday 8:30Â pm,27.8,33.5,"""Life on the Fast Lane"""
2,1990â91,22,"October 11, 1990","July 11, 1991",Thursday 8:00Â pm,24.4,33.6,"""Bart Gets an 'F'"""
3,1991â92,24,"September 19, 1991","August 27, 1992",Thursday 8:00Â pm,21.8,25.5,"""Colonel Homer"""
4,1992â93,22,"September 24, 1992","May 13, 1993",Thursday 8:00Â pm,22.4,28.6,"""Lisa's First Word"""
5,1993â94,22,"September 30, 1993","May 19, 1994",Thursday 8:00Â pm,18.9,24.0,"""Treehouse of Horror IV"""

Which season has the lowest number of episodes?

In [70]:
simpsons['No. ofepisodes'].unique()

array(['13', '22', '24', '25', '23', '21', '20'], dtype=object)

In [72]:
simpsons = simpsons.loc[simpsons['No. ofepisodes'] != 'TBA']
simpsons

,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989â90,13,"December 17, 1989","May 13, 1990",Sunday 8:30Â pm,27.8,33.5,"""Life on the Fast Lane"""
2,1990â91,22,"October 11, 1990","July 11, 1991",Thursday 8:00Â pm,24.4,33.6,"""Bart Gets an 'F'"""
3,1991â92,24,"September 19, 1991","August 27, 1992",Thursday 8:00Â pm,21.8,25.5,"""Colonel Homer"""
4,1992â93,22,"September 24, 1992","May 13, 1993",Thursday 8:00Â pm,22.4,28.6,"""Lisa's First Word"""
5,1993â94,22,"September 30, 1993","May 19, 1994",Thursday 8:00Â pm,18.9,24.0,"""Treehouse of Horror IV"""
6,1994â95,25,"September 4, 1994","May 21, 1995",Sunday 8:00Â pm,15.6,22.2,"""Treehouse of Horror V"""
7,1995â96,25,"September 17, 1995","May 19, 1996",Sunday 8:00Â pm (Episodes 1â24)Sunday 8:30Â pm (...,15.1,19.7,"""Treehouse of Horror VI"""
8,1996â97,25,"October 27, 1996","May 18, 1997",Sunday 8:30Â pm (Episodes 1â3)Sunday 8:00Â pm (E...,14.5,20.9,"""The Springfield Files"""
9,1997â98,25,"September 21, 1997","May 17, 1998",Sunday 8:00Â pm,15.3,19.8,"""The Two Mrs. Nahasapeemapetilons"""
10,1998â99,23,"August 23, 1998","May 16, 1999",Sunday 8:00Â pm,13.5,15.5,"""Maximum Homerdrive"""
11,1999â2000,22,"September 26, 1999","May 21, 2000",Sunday 8:00Â pm,8.8,18.4,"""The Mansion Family"""
12,2000â01,21,"November 1, 2000","May 20, 2001",Sunday 8:00Â pm,15.5,18.6,"""Worst Episode Ever"""
13,2001â02,22,"November 6, 2001","May 22, 2002",Tuesday 8:30Â pm (Episode 1)Sunday 8:00Â pm (Epi...,12.5,14.9,"""The Parent Rap"""
14,2002â03,22,"November 3, 2002","May 18, 2003","Sunday 8:00Â pm (Episodes 1â11, 13â21)Sunday 8:...",14.4,22.1,"""I'm Spelling as Fast as I Can"""
15,2003â04,22,"November 2, 2003","May 23, 2004",Sunday 8:00Â pm,11.0,16.3,"""I, (Annoyed Grunt)-Bot"""
16,2004â05,21,"November 7, 2004","May 15, 2005","Sunday 8:00Â pm (Episodes 1â7, 9â16, 18, 20)Sun...",10.2,23.07,"""Homer and Ned's Hail Mary Pass"""
17,2005â06,22,"September 11, 2005","May 21, 2006",Sunday 8:00Â pm,9.55,11.63,"""Treehouse of Horror XVI"""
18,2006â07,22,"September 10, 2006","May 20, 2007",Sunday 8:00Â pm,9.15,13.90,"""The Wife Aquatic"""
19,2007â08,20,"September 23, 2007","May 18, 2008",Sunday 8:00Â pm,8.37,11.7,"""Treehouse of Horror XVIII"""
20,2008â09,21,"September 28, 2008","May 17, 2009",Sunday 8:00Â pm,7.1,12.4,"""Treehouse of Horror XIX"""
21,2009â10,23,"September 27, 2009","May 23, 2010",Sunday 8:00Â pm,7.1,14.62,"""Once Upon a Time in Springfield"""
22,2010â11,22,"September 26, 2010","May 22, 2011",Sunday 8:00Â pm,7.09,12.6,"""Moms I'd Like to Forget"""
23,2011â12,22,"September 25, 2011","May 20, 2012",Sunday 8:00Â pm,6.15[147],11.48,"""The D'oh-cial Network"""
24,2012â13,22,"September 30, 2012","May 19, 2013",Sunday 8:00Â pm (Episodes 1-21)Sunday 8:30Â pm (...,5.41[148],8.97,"""Homer Goes to Prep School"""
25,2013â14,22,"September 29, 2013","May 18, 2014",Sunday 8:00Â pm (Episodes 1â11 & 13-22)Sunday 7...,5.02[149],12.04,"""Steal This Episode"""
26,2014â15,22,"September 28, 2014","May 17, 2015",Sunday 8:00Â pm,5.61[150],10.62,"""The Man Who Came to Be Dinner"""
27,2015â16,22,"September 27, 2015","May 22, 2016",Sunday 8:00Â pm,4.0[151],8.33,"""Teenage Mutant Milk-Caused Hurdles"""
28,2016â17,22,"September 25, 2016","MayÂ 21,Â 2017",Sunday 8:00Â pm,4.80[152],8.19,"""Pork and Burns"""
29,2017â18,21,"October 1, 2017","May 20, 2018",Sunday 8:00Â pm,4.07[153],8.04,"""Frink Gets Testy"""
30,2018â19,23,"September 30, 2018","May 12, 2019",Sunday 8:00Â pm,3.10[154],8.20,"""The Girl on the Bus"""
31,2019â20,22,"September 29, 2019","May 17, 2020",Sunday 8:00Â pm,2.58[155],5.63,"""Go Big or Go Homer"""
32,2020â21,22,"September 27, 2020","May 23, 2021",Sunday 8:00Â pm (Episodes 1â10 & 12-22)Sunday 9...,2.32[156],4.93,"""Treehouse of Horror XXXI"""
33,2021â22,22,"September 26, 2021","May 15, 2022[157]",Sunday 8:00Â pm (Episodes 1â10 & 12-22)Sunday 9...,TBA,TBA,TBA

In [73]:
min_season = simpsons['No. ofepisodes'].min()

min_season

'13'

In [75]:
simpsons.loc[simpsons['No. ofepisodes'] == min_season]

,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989â90,13,"December 17, 1989","May 13, 1990",Sunday 8:30Â pm,27.8,33.5,"""Life on the Fast Lane"""

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

##Â Save to CSV file

Finally save the `DataFrame` to a CSV file as we saw on previous lectures.

In [76]:
simpsons.head()

,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989â90,13,"December 17, 1989","May 13, 1990",Sunday 8:30Â pm,27.8,33.5,"""Life on the Fast Lane"""
2,1990â91,22,"October 11, 1990","July 11, 1991",Thursday 8:00Â pm,24.4,33.6,"""Bart Gets an 'F'"""
3,1991â92,24,"September 19, 1991","August 27, 1992",Thursday 8:00Â pm,21.8,25.5,"""Colonel Homer"""
4,1992â93,22,"September 24, 1992","May 13, 1993",Thursday 8:00Â pm,22.4,28.6,"""Lisa's First Word"""
5,1993â94,22,"September 30, 1993","May 19, 1994",Thursday 8:00Â pm,18.9,24.0,"""Treehouse of Horror IV"""

In [78]:
simpsons.to_csv('simpsons.csv')

In [79]:
pd.read_csv('simpsons.csv', index_col='Season').head()

,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989â90,13,"December 17, 1989","May 13, 1990",Sunday 8:30Â pm,27.8,33.5,"""Life on the Fast Lane"""
2,1990â91,22,"October 11, 1990","July 11, 1991",Thursday 8:00Â pm,24.4,33.6,"""Bart Gets an 'F'"""
3,1991â92,24,"September 19, 1991","August 27, 1992",Thursday 8:00Â pm,21.8,25.5,"""Colonel Homer"""
4,1992â93,22,"September 24, 1992","May 13, 1993",Thursday 8:00Â pm,22.4,28.6,"""Lisa's First Word"""
5,1993â94,22,"September 30, 1993","May 19, 1994",Thursday 8:00Â pm,18.9,24.0,"""Treehouse of Horror IV"""

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)